:root {
    /* Цвет основного текста #212121 */
    --primery-text-color: #212121;
    /* вторичный цвет текста <p> #757575 */
    --secondary-text-color: #757575;
    /* Акцент (текст при наведении) #2196F3 */
    --text-color-accent: #2196F3;
    /* Копирейт в футере rgba(255, 255, 255, 0.4) */
    --footer-copyright-color: rgba(255, 255, 255, 0.4);
}


/* body */

img {
    vertical-align: bottom
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.page {
    background-color: #ffffff;
    color: var(--primery-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}


/* HEADER */

.main-nav {
    display: flex;
    align-items: center;
}

.main-nav .address {
    margin-left: auto;
}

.logo-color {
    color: var(--text-color-accent);
}

.header-logo {
    color: #000000;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.9;
    text-decoration: none;
    /* margin-top: 24px;
    margin-bottom: 25px; */
}

.list {
    list-style: none;
}

.link-list {
    text-decoration: none;
    color: #212121;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    font-weight: 500;
}

.link-list:hover,
.link-list:focus {
    color: var(--text-color-accent);
    fill: var(--text-color-accent);
}

.nav-link {
    display: flex;
    color: #212121;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    margin-left: 85px;
}

.nav-link .link-list {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.nav-link .link-list.current {
    color: #2196F3;
}

.nav-link .item:not(:last-child) {
    margin-right: 40px;
}

.address {
    color: var(--secondary-text-color);
}

.address {
    display: flex;
}

.address .item:not(:last-child) {
    margin-right: 50px;
}


/* footer */

.footer-flex {
    display: flex;
}

.footer-logo {
    /* display: block; */
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 10px;
}

.footer {
    background-color: #2F303A;
    color: #ffffff;
    padding-top: 48px;
    padding-bottom: 88px;
}

.footer a {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.footer address {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
}

.footer ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.coop {
    margin-bottom: 0;
    margin-top: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    /* or 200% */
    text-align: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.4);
}

.hey {
    margin-left: 69px;
}